<div class="card elevation">
    <div class="header">
      <div class="title text-primary">
          {{sponsor.name}}
      </div>
    </div>
    <div class="divider"></div>
      <div class="content">
        <p class="date"  [ngClass]="sponsor.textColor">{{sponsor.dateToPay | date:'dd/MM/yyyy'}}</p>
      </div>
      <div class="footer">
        <div class="main-information" *ngIf="sponsor.showControls">
            <i class="material-icons text-primary" (click)="checkPreviousSponsor()">arrow_back</i>
            <div class="pay-order text-secondary">Ordem do pagamento {{sponsor.order}}</div>
            <i class="material-icons text-primary" (click)="checkNextSponsor()">arrow_forward</i>
        </div>
      </div>
  </div>